<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceCachingGroup">
      <section name="serviceCaching" type="versomas.net.services.syndication.caching.ServiceCachingConfiguration, Syndication"/>
    </sectionGroup>
    <sectionGroup name="wcfSerialCachingGroup">
      <section name="wcfSerialCaching" type="versomas.net.services.syndication.caching.WCFSerialCachingConfiguration, Syndication"/>
    </sectionGroup>
  </configSections>
  <serviceCachingGroup>
    <serviceCaching enabled="true">
      <cachingRules>        
        <add name="TemplateService" pattern=".*Template.svc.*" cacheTime="600"/>
      </cachingRules>
    </serviceCaching>
  </serviceCachingGroup>
  <wcfSerialCachingGroup>
    <wcfSerialCaching enabled="true">
      <cachingRules>
        <add name="TemplateService" pattern=".*Template.svc.*" cacheTime="600" itemPriority="High"/>
      </cachingRules>
    </wcfSerialCaching>
  </wcfSerialCachingGroup>
  <connectionStrings>    
    <add name="connstr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Default-Cache-Time-Seconds" value="0"/>
    <add key="Default-Cache-Item-Priority" value="Normal"/>
    <add key="Salt" value="p@$$word"/>
    <add key="Window" value="86400"/>
    <add key="SimpleLogPath" value="c:\logs\"/>
    <add key="CacheDependencyPath" value="c:\logs\"/>
    <add key="ServiceDocumentation" value="documentation\"/>
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" pageOutput="false" localOnly="false"/>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ServiceCaching" type="versomas.net.services.syndication.caching.ServiceCaching, Syndication"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Cache.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="CacheManager.axd_ALL" verb="*" path="Cache.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ServiceCaching" type="versomas.net.services.syndication.caching.ServiceCaching"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="WCFSerialCachingBehavior" type="versomas.net.services.syndication.caching.WCFSerialCachingBehavior, Syndication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2cad9f9febb1da6a"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataFeedBehavior">
          <webHttp/>
          <WCFSerialCachingBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="versomas.net.services.Template">
        <endpoint address="" behaviorConfiguration="DataFeedBehavior" binding="webHttpBinding" contract="versomas.net.services.datacontract.ITemplateFeedContract"/>
      </service>
    </services>
    <diagnostics wmiProviderEnabled="true" performanceCounters="Default">
      <messageLogging logEntireMessage="false" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="30000" />
    </diagnostics>
  </system.serviceModel>
  <location path="Template.svc">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
      </staticContent>
    </system.webServer>
  </location>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Off">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add MaxTraceFileSize="10000000" initializeData="c:\logs\e2eTraceTest.svclog"
        type="versomas.net.services.syndication.logging.RollingXmlWriterTraceListener, Syndication"
        name="xml" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
